{% extends 'classroom/layout/main.html' %}

{% block title %}Class List{% endblock %}

{% block content %}
<h1>Available Classes</h1>

<table class="table table-striped-columns">
    <tr>
        <th>Classes</th>
        <th>Description</th>
        <th>Enroll</th>
    </tr>
    {% for class in classes %}
    <tr>
        <td>{{ class.title }}</a></td>
        <td>{{ class.description }}</td>
        <td><a href="{% url "enroll" %}">Enroll</a></td>
    </tr>
    {% empty %}
    <tr><td>No classes available at the moment.</td></tr>
    {% endfor %}
</table>
</ul>
{% endblock %}
